
h1 {
	text-align: center;
	font-family: 'Boogaloo', cursive;
	color: #FFCCCB;
	font-size: 48px;
}

h2 {
	text-align: center;
	font-family: 'Boogaloo', cursive;
	color: #FFCCCB;
	font-size: 30px;
}
.img {
	display: block;
	margin: 10px auto;
	border-radius: 10px;
}

.about, .quote {
	width: 50%;
	text-align: center;
	margin: 10px auto;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

.quote {
	
	font-weight: bold;
	font-size: 24px;
}